[Unit]
Description=Nginx Prometheus Exporter
After=network.target

[Service]
User=nginx-exporter
Group=nginx-exporter

ExecStart=/usr/local/bin/nginx-prometheus-exporter \
  --nginx.scrape-uri=http://127.0.0.1/nginx_status \
  --web.listen-address=127.0.0.1:9113

Restart=always

[Install]
WantedBy=multi-user.target
